<footer>
    <div class="footer-content">
        <div class="footer-left">
            <p>Marine Diesel Service GmbH<br>
            Weiernstrasse 3<br>
            CH-8355 Aadorf (Switzerland)</p>
        </div>
        <div class="footer-center">
            <p>Tel: +41 52 301 32 00</p>
            <p>Email: info&#64;marine-diesel-service.com</p>
        </div>
        <div class="footer-right">
            <p><a href="#">Legal Notice</a></p>
            <p><a href="#">Data Protection</a></p>
        </div>
    </div>
</footer>