/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    font-family: Karla;
    scrollbar-width: none;  /* Firefox */
}


body {
    background-color: #E8E8E8;
}

.modal-header {
    color: #015CB9;
    background-color: #ffffff;
  }
  
  .modal-body {
    color:#015CB9;
    background-color: #ffffff;
  }
  
  .modal-footer {
    background-color: #ffffff;
    color: #015CB9;
    border-width: 5px;
  }

  .modal-footer button {
    background-color: #015CB9;
    color: white;
  }
  .modal-footer button:hover {
    background-color: #016fb9;
  }